﻿<div class="row">
    <div class="col-md-12">
        @{ Html.RenderPartial("_LoginPartial"); }
        <div class="dataManager">
            <div class="col-lg-12 text-center"><h2>Click on tab into navigation menu for getting X or Y entities</h2></div>
            <div class="col-lg-12">
                @{ Html.RenderPartial("_ContactXPartial"); }
            </div>
            <div class="col-lg-12">
                @{ Html.RenderPartial("_ContactYPartial"); }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
</script>
