﻿<div class="panel panel-default col-lg-8" id="panel_x">
    <div class="panel-heading">
        <h2 class="panel-title">X Entities</h2>
    </div>
    <div class="panel-body">
        <div id="tableXBlock"></div>
        <a class="btn btn-danger" id='addItem' data-action='X-add' onclick='TryGetItem(this);'>Add New</a>
    </div>
</div>
<div class="col-lg-4">
    <div id="edit_container_x"></div>
    <div id="merge_container_x"></div>
</div>
    
