﻿<div class="panel panel-default col-lg-8" id="panel_y">
    <div class="panel-heading">
        <h2 class="panel-title">Y Entities</h2>
    </div>
    <div class="panel-body">
        <div id="tableYBlock"></div>
        <a class="btn btn-danger" id='addItem' data-action='Y-add' onclick='TryGetItem(this);'>Add New</a>
    </div>
</div>
<div class="col-lg-4">
    <div id="edit_container_y"></div>
</div>
