﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav dataManager">
                <li></li>
                <li></li>
                <li><a href="#" id="xbtn"><b>Test optimistic</b></a></li>
                <li><a href="#" id="ybtn"> <b>Test pesimistic </b> </a></li>
                <li></li>
                <li><a href="#" id="logout"><b>Logout</b> </a> </li>
            </ul>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="userDetails"></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
