﻿@*<form class="form-horizontal" id="loginForm">*@
@*    <div class="formErrors">*@
@*    </div>*@
@*    <div class="form-group">*@
@*        <label for="Login" class="col-sm-3 control-label">Login</label>*@
@*        <div class="col-sm-6">*@
@*            <input type="text" class="form-control" name="Login" id="Login" placeholder="Login">*@
@*        </div>*@
@*    </div>*@
@*    <div class="form-group">*@
@*        <label for="Password" class="col-sm-3 control-label">Password</label>*@
@*        <div class="col-sm-6">*@
@*            <input type="password" class="form-control" name="Password" id="Password" placeholder="Password">*@
@*        </div>*@
@*    </div>*@
@*    <div class="col-sm-6 col-sm-push-3">*@
@*        <button class="btn btn-primary" id="loginBtn">SignIN</button>*@
@*    </div>*@
@*</form>*@
<div id="loginForm_container"> </div>
