﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#loginForm,#register_form {
    display: none;
    margin: auto;
    width: 400px;
}

    #loginForm #loginFormErrors {
        display: none;
    }
#logout{
    display:none;
}
#userDetails {
    right: 50px;
    display: block;
}

    #userDetails b {
        color: black;
    }

#panel_x, #panel_y, #edit_form_y,#edit_form_x {
    display: none;
}

.dataManager{
    display:none;
}
.formErrors {
    display: none;
}
.error-field {
    border: 2px solid red
}
.dx {
    color: red;
}